.shamsiDatePicker {
    position: relative;
    direction: rtl;
}

.datePickerBox {
    position: fixed;
    background: var(--ant-color-bg-base);
    border: none;
    width: 250px;
    height: 0;
    z-index: 50;
    border-radius: 8px;
    overflow: hidden;
    transition: all 300ms;
}

.datePickerBox.open {
    height: 305px;
    border: 1px solid var(--ant-color-border);
    box-shadow: 0 2px 8px #666;
}

.datePickerBox.open.calendarMode {
	box-shadow: unset;
}

.datePickerBody {
    display: grid;
    grid-template-columns: repeat(7, 30px);
    grid-template-rows: 21px repeat(6, 30px);
    grid-row-gap: 0.25rem;
    padding: 0 0.5rem;
    justify-content: center;
}

.datePickerBody .dayName {
    display: flex;
    align-items: center;
    justify-content: center;
}
.datePickerBody .day {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    transition: all 500ms;
    cursor: pointer;
}

.datePickerBody .day:hover {
    background: var(--ant-color-primary);
    color: #eee;
    border-radius: 35px;
}

.datePickerBody .day.active {
    border: 1px solid var(--ant-color-primary);
    color: var(--ant-color-primary);
    border-radius: 35px;
}

.datePickerBody .day.active:hover {
    color: #eee;
}

.datePickerItemBox.disabled,
.datePickerBody .day.disable {
    opacity: 0.3;
    cursor: not-allowed;
}
.datePickerBody .day.disable:hover {
    background: unset;
    color: unset;
    cursor: default;
}

.datePickerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--ant-color-border);
    margin-bottom: 0.5rem;
    padding: 1rem;
    background: var(--ant-color-primary);
    color: #eee;
}

.datePickerViewBody {
	font-size: 13px;
}

.datePickerMonthView {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1rem;
    padding: 0 0.25rem;
}

.datePickerItemBox {
    padding: 0 0.5rem;
    cursor: pointer;
    text-align: center;
    transition: all 300ms;
    color: var(--fontColor);
}

.datePickerItemBox:hover {
    background: var(--ant-color-primary);
    color: #eee;
    transform: scale(1.1);
}

.datePickerItemBox.active {
    background: var(--ant-color-primary);
    color: #eee;
}

.datePickerInput {
	direction: ltr;
	text-align: left;
	padding: 4px 11px;
	border-radius: 4px;
    width: 100%;
}

.navigationIcon {
	background: #eee;
	color: var(--ant-color-primary);
	width: 30px;
	display: inline-flex;
	justify-content: center;
	border-radius: 50%;
	height: 30px;
	align-items: center;
	cursor: pointer;
}

.dateLabel span {
	cursor: pointer;
    border-bottom: 4px solid transparent;
}

.dateLabel span:hover {
	cursor: pointer;
    border-bottom: 4px solid #eee;
}

.datePickerBox.calendarMode {
	position: relative;
	width: 100%;
}

.ant-input.ant-input-rtl.ant-input-outlined.datePickerInput {
	padding: 2px 5px;
}

.ant-input {
	box-sizing: border-box;
	margin: 0;
	padding: var(--ant-input-padding-block) var(--ant-input-padding-inline);
	color: var(--ant-color-text);
	font-size: var(--ant-input-input-font-size);
	line-height: var(--ant-line-height);
	list-style: none;
	font-family: var(--ant-font-family);
	position: relative;
	display: inline-block;
	width: 100%;
	min-width: 0;
	border-radius: var(--ant-border-radius);
	transition: all var(--ant-motion-duration-mid);
}

.ant-input-outlined {
	background: var(--ant-color-bg-container);
	border-width: var(--ant-line-width);
	border-style: var(--ant-line-type);
	border-color: var(--ant-color-border);
}