.projectInfo {
	width: 20rem;
	border-left: 1px solid var(--ant-color-border);
	height: calc(100vh - 60px);
	flex-shrink: 0;
}

.userStoriesBox {
	width: calc(100% - 22rem);
	height: calc(100vh - 60px);
}

.projectTile {
	margin: 0 1rem;
}

.userStoriesSection {
	margin: 1rem;
	width: 100%;
	height: calc(100% - 60px);
	overflow: auto;
}

.storyCard.header {
	position: sticky;
	top: 0;
	z-index: 2;
	min-height: 3rem;
}

.storyCard {
	width: 100%;
	display: grid;
	min-height: 7rem;
	grid-template-columns: repeat(5, 1fr);
	background: var(--ant-color-bg-base);
}

.storyCard.storyBox.header>div,
.storyCard.content>div {
	position: relative;
	border: 1px solid var(--ant-color-border);
}

.storyCard.content>div {
	min-height: 12rem;
}

.storyCardTitle {
	padding: 0.5rem;
	width: 100%;
	word-break: break-all;
}

.newUserStoryBtn {
	display: flex;
	align-items: center;
	flex-direction: column;
	background: var(--ant-color-primary);
	color: #eee;
	cursor: pointer;
}

.newUserStoryBtnIcon {
	font-size: 1rem;
}

.addNewTask {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 1.5rem;
	height: 1.5rem;
	background: var(--ant-color-primary);
	color: #eee;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 21px;
	cursor: pointer;
	opacity: .6;
	border-radius: 0 .5rem 0 0;
	transition: all 300ms;
}

.addNewTask:hover {
	opacity: 1;
}

.taskCard {
	border: 1px solid var(--ant-color-border);
	margin: 1.5rem 0.5rem;
	border-radius: 0.25rem;
	min-height: 6rem;
	position: relative;
}

.filterMode {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}
.filterMode .taskCard {
	width: 230px;
}

.taskCardTitle {
	background: var(--ant-color-primary);
	color: #eee;
	border-bottom: 1px solid;
	padding: 0.25rem;
	border-radius: 0.25rem;
}

.taskContent {
	padding: 0.5rem;
	font-size: 12px;
	margin-bottom: 1.5rem;
}

.storyCard.storyBox.header>div {
	max-height: 3rem;
}

.taskFooter {
	display: flex;
	justify-content: space-between;
	padding: 0 .5rem;
	position: absolute;
	bottom: .25rem;
	width: 100%;
	border-top: 2px solid var(--ant-color-border);
}

.msgBox {
	border: 1px solid var(--ant-color-border);
	margin: 0.5rem;
}

.msgDate {
	direction: ltr;
	background: #ccc;
	color: #444;
	padding: 0 0.5rem;
	font-size: 12px;
}

.msg {
	padding: 0.5rem;
}

.discussions {
	border-top: 1px solid var(--ant-color-border);
}

.messageForm {
	display: flex;
	align-items: flex-end;
	gap: 0.5rem;
}

.messagesBox {
	height: 60vh;
	overflow: auto;
}

.userSelectWrapper {
	display: flex;
	gap: 0.5rem;
	padding: 0 1rem;
}

.avatar {
	background: var(--ant-color-primary);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #eee;
}

.userCard .username {
	display: flex;
	gap: 0.5rem;
}

.userCard {
	display: flex;
	justify-content: space-between;
	margin: 1rem 0.5rem;
	border-bottom: 1px solid var(--ant-color-border);
	padding-bottom: 0.5rem;
}

.filterSection {
	display: flex;
	gap: 1rem;
	height: 56px;
	align-items: center;
	padding: 0 1rem;
}

.filterItemWrapper {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}